<!DOCTYPE html>
<html>
	<meta charset="utf-8" />
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>1754 | French and Indian War Classroom Game</title>
  <link rel="stylesheet" href="/frontend/main.css" />
  <script
    defer
    src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"
    integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
    crossorigin="anonymous"
  ></script>

  <!-- <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
      <link rel="manifest" href="/images/site.webmanifest">
      <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="theme-color" content="#ffffff"> -->

  <div class="body">
    <div id="logo1754">1754</div>

    <div class="gameContainer">
      <div class="gameNav">
        <button class="groupScore" id="resetBtn"><i class="fas fa-sync-alt"></i> reset</button>
        <button class="groupScore" id="franceBtn">France: <span id="franceScore">7</span></button>
        <button class="groupScore" id="britainBtn">Britain: <span id="britainScore">7</span></button>
        <button class="groupScore" id="mohawkBtn">Mohawk: <span id="mohawkScore">4</span></button>
        <button class="groupScore" id="cherokeeBtn">Cherokee: <span id="cherokeeScore">3</span></button>
        <button class="groupScore" id="shawneeBtn">Shawnee: <span id="shawneeScore">4</span></button>
        <button class="groupScore" id="miamiBtn">Miami: <span id="miamiScore">4</span></button>
        <button class="groupScore" id="ojibweBtn">Ojibwe: <span id="ojibweScore">3</span></button>
      </div>

      <div class="gameWindow">
        <!--North America game background-->

        <object data="/assets/northAmerica.svg" type="image/svg+xml"></object>

        <svg
          class="hex"
          version="1.1"
          id="hex1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 57 58"
          style="enable-background:new 0 0 57 58;"
          xml:space="preserve"
        >
          <title>Hex 1</title>
          <path
            class="origFr st1 france"
            id="hex1fill"
            d="M14.6,51.2l-10-20c-0.7-1.4-0.7-3.1,0-4.5l10-20C15.5,5.1,17.2,4,19.1,4h18.8c1.9,0,3.6,1.1,4.5,2.8l10,20
						c0.7,1.4,0.7,3.1,0,4.5l-10,20c-0.8,1.7-2.6,2.8-4.5,2.8H19.1C17.2,54,15.5,52.9,14.6,51.2z"
          />
          <text transform="matrix(1 0 0 1 28.5 38.6973)" class="st2" id="hex1text">1</text>
        </svg>

        <svg
          class="hex"
          version="1.1"
          id="hex2"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 57 58"
          style="enable-background:new 0 0 57 58;"
          xml:space="preserve"
        >
          <title>Hex 2</title>
          <path
            class="origBr st1 britain"
            id="hex2fill"
            d="M14.6,51.2l-10-20c-0.7-1.4-0.7-3.1,0-4.5l10-20C15.5,5.1,17.2,4,19.1,4h18.8c1.9,0,3.6,1.1,4.5,2.8l10,20
						c0.7,1.4,0.7,3.1,0,4.5l-10,20c-0.8,1.7-2.6,2.8-4.5,2.8H19.1C17.2,54,15.5,52.9,14.6,51.2z"
          />
          <text transform="matrix(1 0 0 1 28.5 38.6973)" class="st2" id="hex2text">2</text>
        </svg>

        <svg
          class="hex"
          version="1.1"
          id="hex3"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 57 58"
          style="enable-background:new 0 0 57 58;"
          xml:space="preserve"
        >
          <title>Hex 3</title>
          <path
            class="origBr st1 britain"
            id="hex3fill"
            d="M14.6,51.2l-10-20c-0.7-1.4-0.7-3.1,0-4.5l10-20C15.5,5.1,17.2,4,19.1,4h18.8c1.9,0,3.6,1.1,4.5,2.8l10,20
						c0.7,1.4,0.7,3.1,0,4.5l-10,20c-0.8,1.7-2.6,2.8-4.5,2.8H19.1C17.2,54,15.5,52.9,14.6,51.2z"
          />
          <text transform="matrix(1 0 0 1 28.5 38.6973)" class="st2" id="hex3text">3</text>
        </svg>

        <svg
          class="hex"
          version="1.1"
          id="hex4"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 57 58"
          style="enable-background:new 0 0 57 58;"
          xml:space="preserve"
        >
          <title>Hex 4</title>
          <path
            class="origFr st1 france"
            id="hex4fill"
            d="M14.6,51.2l-10-20c-0.7-1.4-0.7-3.1,0-4.5l10-20C15.5,5.1,17.2,4,19.1,4h18.8c1.9,0,3.6,1.1,4.5,2.8l10,20
						c0.7,1.4,0.7,3.1,0,4.5l-10,20c-0.8,1.7-2.6,2.8-4.5,2.8H19.1C17.2,54,15.5,52.9,14.6,51.2z"
          />
          <text transform="matrix(1 0 0 1 28.5 38.6973)" class="st2" id="hex4text">4</text>
        </svg>

        <svg
          class="hex"
          version="1.1"
          id="hex5"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 57 58"
          style="enable-background:new 0 0 57 58;"
          xml:space="preserve"
        >
          <title>Hex 5</title>
          <path
            class="origBr st1 britain"
            id="hex5fill"
            d="M14.6,51.2l-10-20c-0.7-1.4-0.7-3.1,0-4.5l10-20C15.5,5.1,17.2,4,19.1,4h18.8c1.9,0,3.6,1.1,4.5,2.8l10,20
						c0.7,1.4,0.7,3.1,0,4.5l-10,20c-0.8,1.7-2.6,2.8-4.5,2.8H19.1C17.2,54,15.5,52.9,14.6,51.2z"
          />
          <text transform="matrix(1 0 0 1 28.5 38.6973)" class="st2" id="hex5text">5</text>
        </svg>

        <svg
          class="hex"
          version="1.1"
          id="hex6"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 57 58"
          style="enable-background:new 0 0 57 58;"
          xml:space="preserve"
        >
          <title>Hex 6</title>
          <path
            class="origBr st1 britain"
            id="hex6fill"
            d="M14.6,51.2l-10-20c-0.7-1.4-0.7-3.1,0-4.5l10-20C15.5,5.1,17.2,4,19.1,4h18.8c1.9,0,3.6,1.1,4.5,2.8l10,20
						c0.7,1.4,0.7,3.1,0,4.5l-10,20c-0.8,1.7-2.6,2.8-4.5,2.8H19.1C17.2,54,15.5,52.9,14.6,51.2z"
          />
          <text transform="matrix(1 0 0 1 28.5 38.6973)" class="st2" id="hex6text">6</text>
        </svg>

        <svg
          class="hex"
          version="1.1"
          id="hex7"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 57 58"
          style="enable-background:new 0 0 57 58;"
          xml:space="preserve"
        >
          <title>Hex 7</title>
          <path
            class="origBr st1 britain"
            id="hex7fill"
            d="M14.6,51.2l-10-20c-0.7-1.4-0.7-3.1,0-4.5l10-20C15.5,5.1,17.2,4,19.1,4h18.8c1.9,0,3.6,1.1,4.5,2.8l10,20
						c0.7,1.4,0.7,3.1,0,4.5l-10,20c-0.8,1.7-2.6,2.8-4.5,2.8H19.1C17.2,54,15.5,52.9,14.6,51.2z"
          />
          <text transform="matrix(1 0 0 1 28.5 38.6973)" class="st2" id="hex7text">7</text>
        </svg>

        <svg
          class="hex"
          version="1.1"
          id="hex8"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 57 58"
          style="enable-background:new 0 0 57 58;"
          xml:space="preserve"
        >
          <title>Hex 8</title>
          <path
            class="origBr st1 britain"
            id="hex8fill"
            d="M14.6,51.2l-10-20c-0.7-1.4-0.7-3.1,0-4.5l10-20C15.5,5.1,17.2,4,19.1,4h18.8c1.9,0,3.6,1.1,4.5,2.8l10,20
						c0.7,1.4,0.7,3.1,0,4.5l-10,20c-0.8,1.7-2.6,2.8-4.5,2.8H19.1C17.2,54,15.5,52.9,14.6,51.2z"
          />
          <text transform="matrix(1 0 0 1 28.5 38.6973)" class="st2" id="hex8text">8</text>
        </svg>

        <svg
          class="hex"
          version="1.1"
          id="hex9"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 57 58"
          style="enable-background:new 0 0 57 58;"
          xml:space="preserve"
        >
          <title>Hex 9</title>
          <path
            class="origBr st1 britain"
            id="hex9fill"
            d="M14.6,51.2l-10-20c-0.7-1.4-0.7-3.1,0-4.5l10-20C15.5,5.1,17.2,4,19.1,4h18.8c1.9,0,3.6,1.1,4.5,2.8l10,20
						c0.7,1.4,0.7,3.1,0,4.5l-10,20c-0.8,1.7-2.6,2.8-4.5,2.8H19.1C17.2,54,15.5,52.9,14.6,51.2z"
          />
          <text transform="matrix(1 0 0 1 28.5 38.6973)" class="st2" id="hex9text">9</text>
        </svg>

        <svg
          class="hex"
          version="1.1"
          id="hex10"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 57 58"
          style="enable-background:new 0 0 57 58;"
          xml:space="preserve"
        >
          <title>Hex 10</title>
          <path
            class="origCh st1 cherokee"
            id="hex10fill"
            d="M14.6,51.2l-10-20c-0.7-1.4-0.7-3.1,0-4.5l10-20C15.5,5.1,17.2,4,19.1,4h18.8c1.9,0,3.6,1.1,4.5,2.8l10,20
						c0.7,1.4,0.7,3.1,0,4.5l-10,20c-0.8,1.7-2.6,2.8-4.5,2.8H19.1C17.2,54,15.5,52.9,14.6,51.2z"
          />
          <text transform="matrix(1 0 0 1 28.5 38.6973)" class="st2" id="hex10text">10</text>
        </svg>

        <svg
          class="hex"
          version="1.1"
          id="hex11"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 57 58"
          style="enable-background:new 0 0 57 58;"
          xml:space="preserve"
        >
          <title>Hex 11</title>
          <path
            class="origMo st1 mohawk"
            id="hex11fill"
            d="M14.6,51.2l-10-20c-0.7-1.4-0.7-3.1,0-4.5l10-20C15.5,5.1,17.2,4,19.1,4h18.8c1.9,0,3.6,1.1,4.5,2.8l10,20
						c0.7,1.4,0.7,3.1,0,4.5l-10,20c-0.8,1.7-2.6,2.8-4.5,2.8H19.1C17.2,54,15.5,52.9,14.6,51.2z"
          />
          <text transform="matrix(1 0 0 1 28.5 38.6973)" class="st2" id="hex11text">11</text>
        </svg>

        <svg
          class="hex"
          version="1.1"
          id="hex12"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 57 58"
          style="enable-background:new 0 0 57 58;"
          xml:space="preserve"
        >
          <title>Hex 12</title>
          <path
            class="origMo st1 mohawk"
            id="hex12fill"
            d="M14.6,51.2l-10-20c-0.7-1.4-0.7-3.1,0-4.5l10-20C15.5,5.1,17.2,4,19.1,4h18.8c1.9,0,3.6,1.1,4.5,2.8l10,20
						c0.7,1.4,0.7,3.1,0,4.5l-10,20c-0.8,1.7-2.6,2.8-4.5,2.8H19.1C17.2,54,15.5,52.9,14.6,51.2z"
          />
          <text transform="matrix(1 0 0 1 28.5 38.6973)" class="st2" id="hex12text">12</text>
        </svg>

        <svg
          class="hex"
          version="1.1"
          id="hex13"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 57 58"
          style="enable-background:new 0 0 57 58;"
          xml:space="preserve"
        >
          <title>Hex 13</title>
          <path
            class="origFr st1 france"
            id="hex13fill"
            d="M14.6,51.2l-10-20c-0.7-1.4-0.7-3.1,0-4.5l10-20C15.5,5.1,17.2,4,19.1,4h18.8c1.9,0,3.6,1.1,4.5,2.8l10,20
						c0.7,1.4,0.7,3.1,0,4.5l-10,20c-0.8,1.7-2.6,2.8-4.5,2.8H19.1C17.2,54,15.5,52.9,14.6,51.2z"
          />
          <text transform="matrix(1 0 0 1 28.5 38.6973)" class="st2" id="hex13text">13</text>
        </svg>

        <svg
          class="hex"
          version="1.1"
          id="hex14"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 57 58"
          style="enable-background:new 0 0 57 58;"
          xml:space="preserve"
        >
          <title>Hex 14</title>
          <path
            class="origFr st1 france"
            id="hex14fill"
            d="M14.6,51.2l-10-20c-0.7-1.4-0.7-3.1,0-4.5l10-20C15.5,5.1,17.2,4,19.1,4h18.8c1.9,0,3.6,1.1,4.5,2.8l10,20
						c0.7,1.4,0.7,3.1,0,4.5l-10,20c-0.8,1.7-2.6,2.8-4.5,2.8H19.1C17.2,54,15.5,52.9,14.6,51.2z"
          />
          <text transform="matrix(1 0 0 1 28.5 38.6973)" class="st2" id="hex14text">14</text>
        </svg>

        <svg
          class="hex"
          version="1.1"
          id="hex15"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 57 58"
          style="enable-background:new 0 0 57 58;"
          xml:space="preserve"
        >
          <title>Hex 15</title>
          <path
            class="origFr st1 france"
            id="hex15fill"
            d="M14.6,51.2l-10-20c-0.7-1.4-0.7-3.1,0-4.5l10-20C15.5,5.1,17.2,4,19.1,4h18.8c1.9,0,3.6,1.1,4.5,2.8l10,20
						c0.7,1.4,0.7,3.1,0,4.5l-10,20c-0.8,1.7-2.6,2.8-4.5,2.8H19.1C17.2,54,15.5,52.9,14.6,51.2z"
          />
          <text transform="matrix(1 0 0 1 28.5 38.6973)" class="st2" id="hex15text">15</text>
        </svg>

        <svg
          class="hex"
          version="1.1"
          id="hex16"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 57 58"
          style="enable-background:new 0 0 57 58;"
          xml:space="preserve"
        >
          <title>Hex 16</title>
          <path
            class="origFr st1 france"
            id="hex16fill"
            d="M14.6,51.2l-10-20c-0.7-1.4-0.7-3.1,0-4.5l10-20C15.5,5.1,17.2,4,19.1,4h18.8c1.9,0,3.6,1.1,4.5,2.8l10,20
						c0.7,1.4,0.7,3.1,0,4.5l-10,20c-0.8,1.7-2.6,2.8-4.5,2.8H19.1C17.2,54,15.5,52.9,14.6,51.2z"
          />
          <text transform="matrix(1 0 0 1 28.5 38.6973)" class="st2" id="hex16text">16</text>
        </svg>

        <svg
          class="hex"
          version="1.1"
          id="hex17"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 57 58"
          style="enable-background:new 0 0 57 58;"
          xml:space="preserve"
        >
          <title>Hex 17</title>
          <path
            class="origMo st1 mohawk"
            id="hex17fill"
            d="M14.6,51.2l-10-20c-0.7-1.4-0.7-3.1,0-4.5l10-20C15.5,5.1,17.2,4,19.1,4h18.8c1.9,0,3.6,1.1,4.5,2.8l10,20
						c0.7,1.4,0.7,3.1,0,4.5l-10,20c-0.8,1.7-2.6,2.8-4.5,2.8H19.1C17.2,54,15.5,52.9,14.6,51.2z"
          />
          <text transform="matrix(1 0 0 1 28.5 38.6973)" class="st2" id="hex17text">17</text>
        </svg>

        <svg
          class="hex"
          version="1.1"
          id="hex18"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 57 58"
          style="enable-background:new 0 0 57 58;"
          xml:space="preserve"
        >
          <title>Hex 18</title>
          <path
            class="origMo st1 mohawk"
            id="hex18fill"
            d="M14.6,51.2l-10-20c-0.7-1.4-0.7-3.1,0-4.5l10-20C15.5,5.1,17.2,4,19.1,4h18.8c1.9,0,3.6,1.1,4.5,2.8l10,20
						c0.7,1.4,0.7,3.1,0,4.5l-10,20c-0.8,1.7-2.6,2.8-4.5,2.8H19.1C17.2,54,15.5,52.9,14.6,51.2z"
          />
          <text transform="matrix(1 0 0 1 28.5 38.6973)" class="st2" id="hex18text">18</text>
        </svg>

        <svg
          class="hex"
          version="1.1"
          id="hex19"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 57 58"
          style="enable-background:new 0 0 57 58;"
          xml:space="preserve"
        >
          <title>Hex 19</title>
          <path
            class="origCh st1 cherokee"
            id="hex19fill"
            d="M14.6,51.2l-10-20c-0.7-1.4-0.7-3.1,0-4.5l10-20C15.5,5.1,17.2,4,19.1,4h18.8c1.9,0,3.6,1.1,4.5,2.8l10,20
						c0.7,1.4,0.7,3.1,0,4.5l-10,20c-0.8,1.7-2.6,2.8-4.5,2.8H19.1C17.2,54,15.5,52.9,14.6,51.2z"
          />
          <text transform="matrix(1 0 0 1 28.5 38.6973)" class="st2" id="hex19text">19</text>
        </svg>

        <svg
          class="hex"
          version="1.1"
          id="hex20"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 57 58"
          style="enable-background:new 0 0 57 58;"
          xml:space="preserve"
        >
          <title>Hex 20</title>
          <path
            class="origCh st1 cherokee"
            id="hex20fill"
            d="M14.6,51.2l-10-20c-0.7-1.4-0.7-3.1,0-4.5l10-20C15.5,5.1,17.2,4,19.1,4h18.8c1.9,0,3.6,1.1,4.5,2.8l10,20
						c0.7,1.4,0.7,3.1,0,4.5l-10,20c-0.8,1.7-2.6,2.8-4.5,2.8H19.1C17.2,54,15.5,52.9,14.6,51.2z"
          />
          <text transform="matrix(1 0 0 1 28.5 38.6973)" class="st2" id="hex20text">20</text>
        </svg>

        <svg
          class="hex"
          version="1.1"
          id="hex21"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 57 58"
          style="enable-background:new 0 0 57 58;"
          xml:space="preserve"
        >
          <title>Hex 21</title>
          <path
            class="origSh st1 shawnee"
            id="hex21fill"
            d="M14.6,51.2l-10-20c-0.7-1.4-0.7-3.1,0-4.5l10-20C15.5,5.1,17.2,4,19.1,4h18.8c1.9,0,3.6,1.1,4.5,2.8l10,20
						c0.7,1.4,0.7,3.1,0,4.5l-10,20c-0.8,1.7-2.6,2.8-4.5,2.8H19.1C17.2,54,15.5,52.9,14.6,51.2z"
          />
          <text transform="matrix(1 0 0 1 28.5 38.6973)" class="st2" id="hex21text">21</text>
        </svg>

        <svg
          class="hex"
          version="1.1"
          id="hex22"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 57 58"
          style="enable-background:new 0 0 57 58;"
          xml:space="preserve"
        >
          <title>Hex 22</title>
          <path
            class="origSh st1 shawnee"
            id="hex22fill"
            d="M14.6,51.2l-10-20c-0.7-1.4-0.7-3.1,0-4.5l10-20C15.5,5.1,17.2,4,19.1,4h18.8c1.9,0,3.6,1.1,4.5,2.8l10,20
						c0.7,1.4,0.7,3.1,0,4.5l-10,20c-0.8,1.7-2.6,2.8-4.5,2.8H19.1C17.2,54,15.5,52.9,14.6,51.2z"
          />
          <text transform="matrix(1 0 0 1 28.5 38.6973)" class="st2" id="hex22text">22</text>
        </svg>

        <svg
          class="hex"
          version="1.1"
          id="hex23"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 57 58"
          style="enable-background:new 0 0 57 58;"
          xml:space="preserve"
        >
          <title>Hex 23</title>
          <path
            class="origMi st1 miami"
            id="hex23fill"
            d="M14.6,51.2l-10-20c-0.7-1.4-0.7-3.1,0-4.5l10-20C15.5,5.1,17.2,4,19.1,4h18.8c1.9,0,3.6,1.1,4.5,2.8l10,20
						c0.7,1.4,0.7,3.1,0,4.5l-10,20c-0.8,1.7-2.6,2.8-4.5,2.8H19.1C17.2,54,15.5,52.9,14.6,51.2z"
          />
          <text transform="matrix(1 0 0 1 28.5 38.6973)" class="st2" id="hex23text">23</text>
        </svg>

        <svg
          class="hex"
          version="1.1"
          id="hex24"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 57 58"
          style="enable-background:new 0 0 57 58;"
          xml:space="preserve"
        >
          <title>Hex 24</title>
          <path
            class="origMi st1 miami"
            id="hex24fill"
            d="M14.6,51.2l-10-20c-0.7-1.4-0.7-3.1,0-4.5l10-20C15.5,5.1,17.2,4,19.1,4h18.8c1.9,0,3.6,1.1,4.5,2.8l10,20
						c0.7,1.4,0.7,3.1,0,4.5l-10,20c-0.8,1.7-2.6,2.8-4.5,2.8H19.1C17.2,54,15.5,52.9,14.6,51.2z"
          />
          <text transform="matrix(1 0 0 1 28.5 38.6973)" class="st2" id="hex24text">24</text>
        </svg>

        <svg
          class="hex"
          version="1.1"
          id="hex25"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 57 58"
          style="enable-background:new 0 0 57 58;"
          xml:space="preserve"
        >
          <title>Hex 25</title>
          <path
            class="origFr st1 france"
            id="hex25fill"
            d="M14.6,51.2l-10-20c-0.7-1.4-0.7-3.1,0-4.5l10-20C15.5,5.1,17.2,4,19.1,4h18.8c1.9,0,3.6,1.1,4.5,2.8l10,20
						c0.7,1.4,0.7,3.1,0,4.5l-10,20c-0.8,1.7-2.6,2.8-4.5,2.8H19.1C17.2,54,15.5,52.9,14.6,51.2z"
          />
          <text transform="matrix(1 0 0 1 28.5 38.6973)" class="st2" id="hex25text">25</text>
        </svg>

        <svg
          class="hex"
          version="1.1"
          id="hex26"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 57 58"
          style="enable-background:new 0 0 57 58;"
          xml:space="preserve"
        >
          <title>Hex 26</title>
          <path
            class="origOj st1 ojibwe"
            id="hex26fill"
            d="M14.6,51.2l-10-20c-0.7-1.4-0.7-3.1,0-4.5l10-20C15.5,5.1,17.2,4,19.1,4h18.8c1.9,0,3.6,1.1,4.5,2.8l10,20
						c0.7,1.4,0.7,3.1,0,4.5l-10,20c-0.8,1.7-2.6,2.8-4.5,2.8H19.1C17.2,54,15.5,52.9,14.6,51.2z"
          />
          <text transform="matrix(1 0 0 1 28.5 38.6973)" class="st2" id="hex26text">26</text>
        </svg>

        <svg
          class="hex"
          version="1.1"
          id="hex27"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 57 58"
          style="enable-background:new 0 0 57 58;"
          xml:space="preserve"
        >
          <title>Hex 27</title>
          <path
            class="origOj st1 ojibwe"
            id="hex27fill"
            d="M14.6,51.2l-10-20c-0.7-1.4-0.7-3.1,0-4.5l10-20C15.5,5.1,17.2,4,19.1,4h18.8c1.9,0,3.6,1.1,4.5,2.8l10,20
						c0.7,1.4,0.7,3.1,0,4.5l-10,20c-0.8,1.7-2.6,2.8-4.5,2.8H19.1C17.2,54,15.5,52.9,14.6,51.2z"
          />
          <text transform="matrix(1 0 0 1 28.5 38.6973)" class="st2" id="hex27text">27</text>
        </svg>

        <svg
          class="hex"
          version="1.1"
          id="hex28"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 57 58"
          style="enable-background:new 0 0 57 58;"
          xml:space="preserve"
        >
          <title>Hex 28</title>
          <path
            class="origMi st1 miami"
            id="hex28fill"
            d="M14.6,51.2l-10-20c-0.7-1.4-0.7-3.1,0-4.5l10-20C15.5,5.1,17.2,4,19.1,4h18.8c1.9,0,3.6,1.1,4.5,2.8l10,20
						c0.7,1.4,0.7,3.1,0,4.5l-10,20c-0.8,1.7-2.6,2.8-4.5,2.8H19.1C17.2,54,15.5,52.9,14.6,51.2z"
          />
          <text transform="matrix(1 0 0 1 28.5 38.6973)" class="st2" id="hex28text">28</text>
        </svg>

        <svg
          class="hex"
          version="1.1"
          id="hex29"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 57 58"
          style="enable-background:new 0 0 57 58;"
          xml:space="preserve"
        >
          <title>Hex 29</title>
          <path
            class="origSh st1 shawnee"
            id="hex29fill"
            d="M14.6,51.2l-10-20c-0.7-1.4-0.7-3.1,0-4.5l10-20C15.5,5.1,17.2,4,19.1,4h18.8c1.9,0,3.6,1.1,4.5,2.8l10,20
						c0.7,1.4,0.7,3.1,0,4.5l-10,20c-0.8,1.7-2.6,2.8-4.5,2.8H19.1C17.2,54,15.5,52.9,14.6,51.2z"
          />
          <text transform="matrix(1 0 0 1 28.5 38.6973)" class="st2" id="hex29text">29</text>
        </svg>

        <svg
          class="hex"
          version="1.1"
          id="hex30"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 57 58"
          style="enable-background:new 0 0 57 58;"
          xml:space="preserve"
        >
          <title>Hex 30</title>
          <path
            class="origSh st1 shawnee"
            id="hex30fill"
            d="M14.6,51.2l-10-20c-0.7-1.4-0.7-3.1,0-4.5l10-20C15.5,5.1,17.2,4,19.1,4h18.8c1.9,0,3.6,1.1,4.5,2.8l10,20
						c0.7,1.4,0.7,3.1,0,4.5l-10,20c-0.8,1.7-2.6,2.8-4.5,2.8H19.1C17.2,54,15.5,52.9,14.6,51.2z"
          />
          <text transform="matrix(1 0 0 1 28.5 38.6973)" class="st2" id="hex30text">30</text>
        </svg>

        <svg
          class="hex"
          version="1.1"
          id="hex31"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 57 58"
          style="enable-background:new 0 0 57 58;"
          xml:space="preserve"
        >
          <title>Hex 31</title>
          <path
            class="origMi st1 miami"
            id="hex31fill"
            d="M14.6,51.2l-10-20c-0.7-1.4-0.7-3.1,0-4.5l10-20C15.5,5.1,17.2,4,19.1,4h18.8c1.9,0,3.6,1.1,4.5,2.8l10,20
						c0.7,1.4,0.7,3.1,0,4.5l-10,20c-0.8,1.7-2.6,2.8-4.5,2.8H19.1C17.2,54,15.5,52.9,14.6,51.2z"
          />
          <text transform="matrix(1 0 0 1 28.5 38.6973)" class="st2" id="hex31text">31</text>
        </svg>

        <svg
          class="hex"
          version="1.1"
          id="hex32"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 57 58"
          style="enable-background:new 0 0 57 58;"
          xml:space="preserve"
        >
          <title>Hex 32</title>
          <path
            class="origOj st1 ojibwe"
            id="hex32fill"
            d="M14.6,51.2l-10-20c-0.7-1.4-0.7-3.1,0-4.5l10-20C15.5,5.1,17.2,4,19.1,4h18.8c1.9,0,3.6,1.1,4.5,2.8l10,20
						c0.7,1.4,0.7,3.1,0,4.5l-10,20c-0.8,1.7-2.6,2.8-4.5,2.8H19.1C17.2,54,15.5,52.9,14.6,51.2z"
          />
          <text transform="matrix(1 0 0 1 28.5 38.6973)" class="st2" id="hex32text">32</text>
        </svg>
      </div>
    </div>

    <h2 id="rulesHeader" class="ui horizontal divider header">Objectives</h2>

    <div class="rulesObj">
      <div class="objectives">
        <p>
          The objective of the game is to gain as many spaces as possible on the board. Teams are put into divisions according to their
          advantages at the start of the game and should aim to gain more spaces than any other team in their division in all classes.
        </p>

        <div class="groupLevels">
          <div>
            <p>
              <strong>Division 1</strong><br />
              France<br />
              Britain
            </p>
          </div>

          <div>
            <p>
              <strong>Division 2</strong><br />
              Mohawk<br />
              Shawnee<br />
              Miami
            </p>
          </div>

          <div>
            <p>
              <strong>Division 3</strong><br />
              Ojibwe<br />
              Cherokee
            </p>
          </div>
        </div>
      </div>
    </div>

    <h2 id="rulesHeader" class="ui horizontal divider header">Rules</h2>

    <div class="rulesObj">
      <ol class="rulesObjContent">
        <li>You can only attack a space that is connected to one you control.</li>
        <li>Alliances can be broken by either party at any time.</li>
        <li>
          If you win a battle as the aggressor, you gain the space you attacked. Your turn continues and you may attack another space until you
          win three spaces, pass, or lose.
        </li>
        <li>If you lose a battle, you subtract one from your roll number.</li>
        <li>If you are being attacked, you may forfeit the space to the attacker, which allows you to keep your roll number the same.</li>
        <li>If an alliance loses a battle, every member of the alliance loses one from their roll number.</li>
        <li>The minimum roll number for Britain and France is 12. The minimum roll number for all other groups is 6.</li>
        <li>In the event of a tie, both sides roll again.</li>
        <li>You cannot lose your last space until there is only one round left in the game.</li>
      </ol>
    </div>
  </div>

  <script async src="/frontend/main.js"></script>
</html>
