@import '@material/top-app-bar/mdc-top-app-bar';
@import '@material/icon-button/mdc-icon-button';
@import '@material/list/mdc-list';
@import '@material/drawer/mdc-drawer';
@import '@material/button/mdc-button';

.css-top-app-bar {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    -webkit-transition: box-shadow 200ms linear;
    transition: box-shadow 200ms linear;
}

.css-drawer__list {
    color: black !important;
}
.css-top-app-bar__actions > * {
    color: black !important;
    float: right !important;
}

.css-top-app-bar__title {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1em;
    font-size: large;
}

.css-list-item__graphic {
    margin-right: 8px;
}