@import url('https://fonts.googleapis.com/css?family=Concert+One|Lato:400,700');
html {
  background: #333;
}

.body {
  margin: 20px auto;
  padding: 20px;
  width: 800px;
}

#bodyx {
  margin: 20px auto;
  padding: 20px;
  width: 800px;
  display: none;
}

#smallpoxMsg {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  line-height: 100vh;
  color: #eee;
  background: #e94858;
  text-align: center;
  width: 100%;
  height: 100vh;
}

/*NAVBAR*/
#logo1754 {
  color: #eee8aa;
  font-family: ConcertOne-Regular, Concert One;
  font-size: 3em;
  padding: 0px 15px;
}

#rulesHeader {
  font-family: ConcertOne-Regular, Concert One;
  color: #eee8aa;
}

/*GAME*/
/*.gameContainer {*/
/*  display: grid;*/
/*  grid-template-columns: 3fr 2fr;*/
/*  grid-auto-rows: minmax(25px, auto);*/
/*  grid-gap: 10px;*/
/*}*/
.gameWindow {
  height: 600px;
  width: 800px;
  margin: 0;
  position: relative;
  background: #3f5666;
  border-radius: 10px;
}

.gameNav {
  margin: 20px 0px;
  width: 800px;
}

.navSideBar {
  margin: 20px 0;
}

.rulesObj {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  background: #eee;
  color: #333;
  margin: 0px;
  padding: 10px;
  border-radius: 10px;
}

.rulesObj li {
  padding-bottom: 5px;
}

.rulesObjContent {
  padding-top: 10px;
  padding-bottom: 10px;
}

.objectives {
  padding: 0px 30px;
}

.objHeader {
  padding-left: 10px;
  margin: 0px;
}

.groupLevels {
  display: grid;
  grid-template-columns: auto auto auto;
}

.groupList {
  font-family: 'Lato', sans-serif;
  /*height: 40px;*/
  /*background: #333;*/
  /*color: white;*/
  border-radius: 5px;
  padding: 10px;
}

input {
  height: 20px;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
}

#northAmerica {
  position: absolute;
  border-top-left-radius: 10px;
}

/*#rules {*/
/*  display: block;*/
/*}*/
/*GAMENAV BUTTONS*/
.groupScore {
  color: #333;
  font-family: ConcertOne-Regular, Concert One;
  font-size: 1em;
  padding: 9px;
  border-radius: 5px;
  border: 2px solid transparent;
}

.groupScore:hover {
  border: 2px solid #333;
}

#resetBtn {
  background: #333;
  color: #ddd;
}

#resetBtn:hover {
  background: #ddd;
  color: #333;
  border: 2px solid #ddd;
}

#smallpoxBtn {
  background: #ddd;
  color: #333;
}

#smallpoxBtn:hover {
  background: #333;
  color: #ddd;
  border: 2px solid #ddd;
}

#franceBtn {
  background: #3498db;
}

#franceBtn:hover {
  background: #333;
  color: #3498db;
  border: 2px solid #3498db;
}

#britainBtn {
  background: #e94858;
}

#britainBtn:hover {
  background: #333;
  color: #e94858;
  border: 2px solid #e94858;
}

#mohawkBtn {
  background: #82bf6e;
}

#mohawkBtn:hover {
  background: #333;
  color: #82bf6e;
  border: 2px solid #82bf6e;
}

#cherokeeBtn {
  background: #9568d0;
}

#cherokeeBtn:hover {
  background: #333;
  color: #9568d0;
  border: 2px solid #9568d0;
}

#shawneeBtn {
  background: #f18836;
}

#shawneeBtn:hover {
  background: #333;
  color: #f18836;
  border: 2px solid #f18836;
}

#miamiBtn {
  background: #d075c3;
}

#miamiBtn:hover {
  background: #333;
  color: #d075c3;
  border: 2px solid #d075c3;
}

#ojibweBtn {
  background: #fedc30;
}

#ojibweBtn:hover {
  background: #333;
  color: #fedc30;
  border: 2px solid #fedc30;
}

/*HEXES*/
.france {
  fill: #3498db;
}

.britain {
  fill: #e94858;
}

.mohawk {
  fill: #82bf6e;
}

.cherokee {
  fill: #9568d0;
}

.shawnee {
  fill: #f18836;
}

.miami {
  fill: #d075c3;
}

.ojibwe {
  fill: #fedc30;
}

.smallpox {
  fill: #cccccc;
}

.st1 {
  stroke: white;
  stroke-width: 2px;
}

.st2 {
  font-family: 'Concert One';
  font-size: 30px;
}

.hex {
  /* width: 75px; */
  display: inline;
  position: absolute;
}

svg {
  pointer-events: none;
}

text {
  text-anchor: middle;
  pointer-events: auto;
}

svg:hover .hex {
  fill: white !important;
}

svg:hover .st2 {
  fill: white;
}

.selected {
  stroke: #333;
  stroke-width: 3px;
}

/*LOCATIONS OF INDIVIDUAL HEXES*/
#hex1 {
  left: 600px;
  top: 100px;
}

#hex2 {
  left: 600px;
  top: 170px;
}

#hex3 {
  left: 600px;
  top: 240px;
}

#hex4 {
  left: 547px;
  top: 135px;
}

#hex5 {
  left: 547px;
  top: 205px;
}

#hex6 {
  left: 547px;
  top: 275px;
}

#hex7 {
  left: 547px;
  top: 345px;
}

#hex8 {
  left: 547px;
  top: 415px;
}

#hex9 {
  left: 494px;
  top: 450px;
}

#hex10 {
  left: 494px;
  top: 380px;
}

#hex11 {
  left: 494px;
  top: 310px;
}

#hex12 {
  left: 494px;
  top: 240px;
}

#hex13 {
  left: 494px;
  top: 170px;
}

#hex14 {
  left: 494px;
  top: 100px;
}

#hex15 {
  left: 441px;
  top: 135px;
}

#hex16 {
  left: 441px;
  top: 205px;
}

#hex17 {
  left: 441px;
  top: 275px;
}

#hex18 {
  left: 441px;
  top: 345px;
}

#hex19 {
  left: 441px;
  top: 415px;
}

#hex20 {
  left: 441px;
  top: 485px;
}

#hex21 {
  left: 388px;
  top: 450px;
}

#hex22 {
  left: 388px;
  top: 380px;
}

#hex23 {
  left: 388px;
  top: 310px;
}

#hex24 {
  left: 388px;
  top: 240px;
}

#hex25 {
  left: 388px;
  top: 170px;
}

#hex26 {
  left: 335px;
  top: 205px;
}

#hex27 {
  left: 335px;
  top: 275px;
}

#hex28 {
  left: 335px;
  top: 345px;
}

#hex29 {
  left: 335px;
  top: 415px;
}

#hex30 {
  left: 335px;
  top: 485px;
}

#hex31 {
  left: 282px;
  top: 380px;
}

#hex32 {
  left: 282px;
  top: 240px;
}
